project:
  type: website
  output-dir: docs

website:
  sidebar:
    style: "docked"
    search: true
    contents:
      - text: "Tema 4"
        href: ./temas/tema04.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



