project:
  type: website
  output-dir: docs

website:
  sidebar:
    style: "docked"
    search: true
    contents:
      - text: "Introduction"
        href: index.qmd
      - section: "Temas"
        href: about.qmd
        contents:
          - text: "Tema 4"
            href: ./temas/tema04.qmd
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
  pdf:
    documentclass: scrartcl
    papersize: a4paper
    toc: true
    number-sections: true
    colorlinks: true  
    geometry:
      - top=30mm
      - left=20mm
      - heightrounded



