project:
  type: website
  output-dir: docs

book:
  title: "temas"
  author: "Norah Jones"
  date: "11/6/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - references.qmd
    - Tema 04.md

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt



